/* footer */
footer{
    display: flex;
    justify-content: center;
    margin: $space-lg 50px 0;
    gap: 30px;
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 50%;
        }
        .consulta-info{
            width: 50%;
            text-align: center;
                iframe{
                    width: 100%;
                }
        }
}