@import "../variables";

.boton-estilo{
    color: #ffffff !important;
    background-color: $color-primario;
    border-radius: 20px;
        &:hover{
            background-color: $color-secundario !important;
            color: $color-primario !important;
            border-radius: 20px;
        }
}